<div class="row">
	<div class="col-phone-24 col-gutter-2">
		<h1>Pense com a gente:</h1>
		<h3>Por quê comemos tão mal?</h3>
		<h3>Pra quê o uso de tanto agrotóxico?</h3>
		<h3>Por quê produtos agroecológicos são tão caros?</h3>
		<h3>Por quê tudo tem que ser pago com dinheiro?</h3>

		<h4>A gente sabe que temos muitas respostas, mas também sabemos que isso precisa mudar, independentemente do motivo.</h4>

		<div class="row">
			<div class="col-gutter-1 col-phone-5">Social</div>
			<div class="col-gutter-1 col-phone-5">Comnsumidor</div>
			<div class="col-gutter-1 col-phone-5">Produtor</div>
			<div class="col-gutter-1 col-phone-5">Colaborador</div>
			<div class="col-gutter-1 col-phone-5">Conhecimento</div>
		</div>

		<h1>Social</h1>
		<div class="row">
			<div class="col-gutter-1 col-phone-6"></div>
			<div class="col-gutter-1 col-phone-6">Produtor</div>
			<div class="col-gutter-1 col-phone-6">Colaborador</div>
			<div class="col-gutter-1 col-phone-6">Academia</div>
		</div>

		<h1>Consumidor</h1>
		<div class="row">
			<div class="col-gutter-1 col-phone-6">Adiquire os produtos via dinheiro ou banco de horas;</div>
			<div class="col-gutter-1 col-phone-6">Se alimenta de produtos naturais e saudáveis;</div>
			<div class="col-gutter-1 col-phone-6">Contribui para a sociedade</div>
			<div class="col-gutter-1 col-phone-6">Academia</div>
		</div>

		<h1>Produtor</h1>
		<div class="row">
			<div class="col-gutter-1 col-phone-6">Comnsumidor</div>
			<div class="col-gutter-1 col-phone-6">Produtor</div>
			<div class="col-gutter-1 col-phone-6">Colaborador</div>
			<div class="col-gutter-1 col-phone-6">Academia</div>
		</div>

		<h1>Colaborador</h1>
		<div class="row">
			<div class="col-gutter-1 col-phone-6">Comnsumidor</div>
			<div class="col-gutter-1 col-phone-6">Produtor</div>
			<div class="col-gutter-1 col-phone-6">Colaborador</div>
			<div class="col-gutter-1 col-phone-6">Academia</div>
		</div>

		<h1>Academia</h1>
		<div class="row">
			<div class="col-gutter-1 col-phone-6">Comnsumidor</div>
			<div class="col-gutter-1 col-phone-6">Produtor</div>
			<div class="col-gutter-1 col-phone-6">Colaborador</div>
			<div class="col-gutter-1 col-phone-6">Academia</div>
		</div>
	</div>
</div>
