@import '~@angular/material/theming';

@mixin sidenav-theme($theme) {

  $primary: map-get($theme, primary);

  .mat-sidenav-container{
    /* Content */
    background-color: white;

    /* Sidenav */
    md-sidenav{
      background-color: white;
      color: darken(mat-color($accent), 10%);
      width: 240px;

      button{
      	width: 96%;
      	padding: 3px;
        margin: 2%;
      }
    }
  }
}
