<div class="post-wrapper">
	<div class="row">
		<div *ngFor="let post of posts" class="col-phone-22 col-phone-offset-1 col-tablet-20 col-tablet-offset-2 col-laptop-18 col-laptop-offset-3 col-desktop-16 col-desktop-offset-4 col-tv-14 col-tv-offset-5">
			<div class="post-wrapper">
				<h3>{{post.title}}</h3>
				<p>{{post.kind}}</p>
				<p>{{post.text}}</p>
				  <div *ngIf="post.media" class="card-media">
				  	<div [ngSwitch]="post.media[0] ? true : false">
				  		<div *ngSwitchCase="false">
				  			<img [src]="post.media.url" src="/assets/img/cat-spin.gif" [title]="post.text" />
				  		</div>
				  		<div *ngSwitchCase="true">
				  			<div class="row">
				  				<div class="col-phone-24 col-gutter-2">
				  					<img [src]="post.media[mediaToShow ? mediaToShow : 0].url" src="/assets/img/cat-spin.gif" [title]="post.text" />
				  				</div>
				  			</div>
				  			<div class="row">
				  				<div *ngFor="let img of post.media; let i = index;" class="col-phone-8 col-tablet-6 col-laptop-4 col-tv-4 col-gutter-2" (click)="mediaToShow = i">
				  					<img class="click" [src]="img.url" src="/assets/img/cat-spin.gif" [title]="post.text" />
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				<div class="call-btns">
					<button class="call-btn" md-icon-button color="primary" (click)="remove(post)">
					  <md-icon fontSet="fa" fontIcon="fa-trash"></md-icon>
					</button>
				</div>
				<hr class="flower-hr">
			</div>
		</div>
	</div>
</div>
