// Import Angular Material Design components themes
@import '~@angular/material/theming';

// Import all App custom components theme.
@import './app/all-theme';

// Apply Angular Material Design global styles
@include mat-core();

// Default App Custom theme
$primary: mat-palette($mat-purple, 600);
$accent: mat-palette($mat-lime, A400);
$warn: mat-palette($mat-orange, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include app-components-theme($theme);


.blue-theme {
	$primary-blue-theme: mat-palette($mat-cyan);
	$accent-blue-theme: mat-palette($mat-amber);
	$warn-blue-theme: mat-palette($mat-deep-orange);
	$blue-theme: mat-light-theme($primary-blue-theme, $accent-blue-theme, $warn-blue-theme);
	@include angular-material-theme($blue-theme);
	@include app-components-theme($blue-theme);
}

.pink-theme {
	$primary-pink-theme: mat-palette($mat-pink, A100);
	$accent-pink-theme: mat-palette($mat-blue-grey);
	$warn-pink-theme: mat-palette($mat-deep-orange);
	$pink-theme: mat-light-theme($primary-pink-theme, $accent-pink-theme, $warn-pink-theme);
	@include angular-material-theme($pink-theme);
	@include app-components-theme($pink-theme);
}

.grey-dark-theme {
	$primary-grey-dark-theme: mat-palette($mat-blue-grey);
	$accent-grey-dark-theme: mat-palette($mat-amber, A200, A100, A400);
	$warn-grey-dark-theme: mat-palette($mat-deep-orange);
	$grey-dark-theme: mat-light-theme($primary-grey-dark-theme, $accent-grey-dark-theme, $warn-grey-dark-theme);
	@include angular-material-theme($grey-dark-theme);
	@include app-components-theme($grey-dark-theme);
}